#This is for you Lily
#you can delete this module whenever.

# This notebook will create the client filtered LinLab pull

# STEP 1: IMPORT LIBRARIES

In [8]:
import pandas as pd
import datetime
#GET THE CLIENT FILE READY
date=datetime.datetime.now().strftime("%Y-%m-%d")

# STEP 2: SELECT THE CLIENT

In [9]:
client_select=input('Select Client: ')
client_df=pd.read_csv('../data/clients/'+client_select+'/'+client_select+'.csv')
print('These are the locations in this file: ')
client_df.county

Select Client: kelloggs
These are the locations in this file:

0         Arapahoe
1           Benton
2          Calhoun
3           Camden
4             Cook
5         Davidson
6          Douglas
7           DuPage
8          Fayette
9            Floyd
10        Hamilton
11        Hennepin
12    Hillsborough
13            Kent
14       Lancaster
15        Lycoming
16         Madison
17      Montgomery
18       Muskingum
19            Pike
20       San Diego
21     Santa Clara
22          Shelby
23            Wake
24       Wyandotte
Name: county, dtype: object

# PULL THE LINLAB DATA

In [10]:
linlab=pd.read_csv('../data/sources/linlab/rtcountylevel.csv')
cols=['uid', 'dispID', 'date','date_lag',
       'Rt_plot', 'Rt_upr', 'Rt_lwr', 'Rt_loess_fit', 'Rt_loess_lwr',
       'Rt_loess_upr', 'positiveIncrease', 'positive', 'positive_7day',
       'positive_percapita', 'positiveIncr_percapita', 'deathIncrease',
       'death', 'death_percapita', 'deathIncr_percapita']
linlab_df=linlab[cols]

# MERGE CLIENT AND LINLAB AND DISPLAY DATES

In [11]:
Client_Linlab=pd.merge(client_df, linlab_df, how='left')
Client_Linlab.sort_values(['state','date'], ascending=False, inplace=True)
Client_Linlab.date

898      8/9/2020
1351     8/9/2020
2559     8/9/2020
3465     8/9/2020
897      8/8/2020
          ...
155     3/23/2020
154     3/22/2020
153     3/21/2020
152     3/20/2020
151     3/19/2020
Name: date, Length: 3775, dtype: object

In [12]:
#SELECT THE DATE TO PULL
select_date=input('Select Date: ')
print_date=input('Select Date: ')
Client_Linlab=Client_Linlab[Client_Linlab['date']==select_date]
Client_Linlab.sort_values(['state', 'county'], inplace=True)

Select Date: 8/8/2020
Select Date: 8-8-2020

In [13]:
#VIEW DATASET TO VERIFY BEFORE DOWNLOAD
Client_Linlab

,uid,fips,country,state,county,lat_,long,pop19,region,dispID,...,Rt_loess_upr,positiveIncrease,positive,positive_7day,positive_percapita,positiveIncr_percapita,deathIncrease,death,death_percapita,deathIncr_percapita
293,84005007,5007,US,Arkansas,Benton,36.336447,-94.256808,279141,AR,"Benton, Arkansas",...,0.874167,57,4755,37.142857,17034.401970,204.197879,2,43,154.044014,7.164838
3162,84006073,6073,US,California,San Diego,33.034846,-116.736533,3338330,CA,"San Diego, California",...,0.991857,652,31779,390.142857,9519.430374,195.307234,3,586,175.536870,0.898653
3313,84006085,6085,US,California,Santa Clara,37.231049,-121.697046,1927852,CA,"Santa Clara, California",...,1.191649,139,11475,164.857143,5952.220399,72.100970,7,203,105.298540,3.630984
142,84008005,8005,US,Colorado,Arapahoe,39.649775,-104.335362,656590,CO,"Arapahoe, Colorado",...,1.002673,52,7286,50.571429,11096.727030,79.197064,0,364,554.379445,0.000000
1954,84012057,12057,US,Florida,Hillsborough,27.927656,-82.320132,1471968,FL,"Hillsborough, Florida",...,0.874515,403,32268,382.714286,21921.672210,273.783126,2,388,263.592687,1.358725
1501,84013115,13115,US,Georgia,Floyd,34.262683,-85.215774,98498,GA,"Floyd, Georgia",...,1.212905,60,1488,35.000000,15106.905720,609.149424,0,17,172.592337,0.000000
746,84017031,17031,US,Illinois,Cook,41.841448,-87.816588,5150233,IL,"Cook, Illinois",...,1.181866,863,110865,676.285714,21526.210560,167.565234,4,4924,956.073249,0.776664
1199,84017043,17043,US,Illinois,DuPage,41.851170,-88.086427,922921,IL,"DuPage, Illinois",...,1.148015,134,12155,110.714286,13170.141320,145.191192,1,520,563.428506,1.083516
3766,84020209,20209,US,Kansas,Wyandotte,39.117273,-94.763782,165429,KS,"Wyandotte, Kansas",...,1.035234,54,4864,70.142857,29402.341790,326.424025,0,99,598.444046,0.000000
3011,84021195,21195,US,Kentucky,Pike,37.470883,-82.394874,57876,KY,"Pike, Kentucky",...,NaN,17,250,4.428571,4319.579791,293.731426,0,3,51.834958,0.000000
444,84026025,26025,US,Michigan,Calhoun,42.246338,-85.004936,134159,MI,"Calhoun, Michigan",...,NaN,7,789,7.428571,5881.081403,52.176895,0,41,305.607525,0.000000
2105,84026081,26081,US,Michigan,Kent,43.031977,-85.549346,656955,MI,"Kent, Michigan",...,0.958919,37,7485,54.285714,11393.474440,56.320448,-1,157,238.981361,-1.522174
1803,84027053,27053,US,Minnesota,Hennepin,45.007615,-93.476949,1265843,MN,"Hennepin, Minnesota",...,1.082059,283,19057,215.714286,15054.789580,223.566430,3,831,656.479516,2.369962
1048,84031055,31055,US,Nebraska,Douglas,41.295183,-96.150853,571327,NE,"Douglas, Nebraska",...,1.116159,51,11190,121.428571,19585.981410,89.265867,0,132,231.041067,0.000000
595,84034007,34007,US,New Jersey,Camden,39.803438,-74.963888,506471,NJ,"Camden, New Jersey",...,1.113169,26,8525,27.285714,16832.158210,51.335614,0,578,1141.230199,0.000000
3615,84037183,37183,US,North Carolina,Wake,35.788793,-78.652492,1111761,NC,"Wake, North Carolina",...,0.950105,132,11906,133.857143,10709.136230,118.730554,4,168,151.111615,3.597896
1652,84039061,39061,US,Ohio,Hamilton,39.196736,-84.545029,817473,OH,"Hamilton, Ohio",...,0.959190,90,9583,76.428571,11722.711330,110.095379,2,255,311.936908,2.446564
2860,84039119,39119,US,Ohio,Muskingum,39.965760,-81.943633,86215,OH,"Muskingum, Ohio",...,NaN,4,225,7.142857,2609.754683,46.395639,0,1,11.598910,0.000000
2256,84042071,42071,US,Pennsylvania,Lancaster,40.039046,-76.247701,545724,PA,"Lancaster, Pennsylvania",...,1.134873,34,5856,38.000000,10730.699030,62.302556,1,411,753.127955,1.832428
2407,84042081,42081,US,Pennsylvania,Lycoming,41.343105,-77.066300,113299,PA,"Lycoming, Pennsylvania",...,NaN,12,381,7.000000,3362.783431,105.914439,0,20,176.524065,0.000000
2709,84042091,42091,US,Pennsylvania,Montgomery,40.210537,-75.366523,830915,PA,"Montgomery, Pennsylvania",...,1.073986,62,10077,37.714286,12127.594280,74.616537,2,857,1031.393103,2.406985
897,84047037,47037,US,Tennessee,Davidson,36.170074,-86.786461,694144,TN,"Davidson, Tennessee",...,0.963045,198,20383,172.428571,29364.224140,285.243408,1,213,306.852757,1.440623
1350,84047047,47047,US,Tennessee,Fayette,35.196158,-89.413990,41133,TN,"Fayette, Tennessee",...,1.085634,16,686,10.000000,16677.606790,388.982083,0,8,194.491041,0.000000
2558,84047113,47113,US,Tennessee,Madison,35.611820,-88.840760,97984,TN,"Madison, Tennessee",...,1.283976,40,1064,28.714286,10858.915740,408.229915,0,17,173.497714,0.000000
3464,84047157,47157,US,Tennessee,Shelby,35.186478,-89.896924,937166,TN,"Shelby, Tennessee",...,1.059754,281,22916,270.714286,24452.444920,299.840156,-1,301,321.181093,-1.067047

# DOWNLOAD THE FILE

In [14]:
Client_Linlab.to_csv('../data/clients/'+client_select+'/'+date+'-LinLab.csv')
Client_Linlab.to_csv('../data/clients/'+client_select+'/'+print_date+'-LinLab.csv')